maplist {
    .btn {
        border-width: 0 !important;
        border-radius: 0 !important;
    }

    .title {
        // border-radius: 0 !important;
        // border-top-width: 0 !important;
    }

    .title:last-child {
        // border-left-width: 0 !important;
    }

    .radioDark:hover {
        color: var(--bs-btn-hover-color);
        background-color: var(--bs-btn-hover-bg);
    }

    .maplist {
        height: 144px;
        max-height: 144px;
        overflow-y: auto;

        button {
            min-width: 175px;
            text-align: left;
        }
    }

}
