
.spellList {
	max-width: 750px;
	// display: table-row;
	margin-left: auto;
	margin-right: auto;
}

.spellGroup {
	// border: 2px red solid;
}

.spell {
	opacity: 0.55;
	padding: 5px;
	cursor: pointer;
}

.spell:hover {
	opacity: 1;
}

.spellactive {
	opacity: 1;
}


.spellDescription {
	
}


.effects {
	// margin-left: auto;
	// margin-right: auto;
}

.effectsNormal {
	margin-right: auto;
	width: 45%;
}
.effectsCrit {
	margin-right: auto;
	width: 45%;
}

.effectLine {
	// width: 100%;
	// display: table;
}
.effectDescription {
	// margin-right: auto;
	// width: 100%;
}
.effectIcon {
	// margin-left: auto;
	// text-align: right;
	// position: relative;
}
