<import from="./options"></import>

<template class="flex-shrink-0 p-3">
	<!-- flex-column -->
	<!-- <template class="d-flex flex-column flex-shrink-0 p-3"> -->

	<!-- options -->
	<!-- <options style="margin-left: auto; margin-right: auto;"></options> -->


	<div class="d-flex p-2 flex-wrap">
		<a load="${breeds[i]}" css="${getBreedIconStyle(i)}" repeat.for="i of breeds.length" if.bind="checkFeatures(i)"></a>
	</div>

	<!-- <div if.bind="isRouteClass && db.isLoaded">
		<strong>${breedNameI18n}</strong>
		<br />
		<a load="${breedName}/mechanics">${translate("sidebar.classes.mecanics"></a>
		<br />
		<a load="${breedName}/situations">${translate("sidebar.classes.situations")</a>
	</div> -->

	<hr>
	<div>
		<strong>${translate("sidebar.information.information")</strong>
		<!-- <br />
		<a load="general">${translate("sidebar.information.general")</a>
		<br />
		<a load="formules">${translate("sidebar.information.formulas")</a> -->
		<br />
		<a load="maps">${translate("sidebar.information.maps")</a>
	</div>
	<div>
		<strong>${translate("sidebar.pvp.pvp")}</strong>
		<br />
		<a load="tournaments">${translate("sidebar.pvp.tournaments")}</a>
		<br />
		<a load="resources">${translate("sidebar.pvp.resources")}</a>
	</div>

	<div>
		<strong>Dofus</strong>
		<br />
		<a href="https://www.dofus.com/fr/mmorpg/actualites/maj" target="_blank">
			<i class="fas fa-link"></i> Changelogs
		</a>
		<br />
		<a href="https://www.dofus.com/fr/mmorpg/actualites/devblog" target="_blank">
			<i class="fas fa-link"></i> Devblogs
		</a>
	</div>

	<div class="bottomBar">
		<hr>
		<!-- <strong>Contact</strong> -->
		<!-- <br />
		<a href="https://souchy.github.io/quickfus/" target="_blank">
			Quickfus <i class="fas fa-link"></i>
		</a> -->
		<!-- <a href="https://github.com/Souchy/encyclofus" target="_blank"
			style="color: inherit; text-decoration: inherit;">
			<i class="fab fa-github"></i> Github 
		</a> -->
		<div>
			<a href="https://twitter.com/Souchy7" target="_blank">
				<i class="fab fa-twitter"></i> ${translate("sidebar.contact")}
			</a>
			<button class="btn btn-outline-dark btnRadio" click.delegate="themer.click()">
				<!-- <i if.bind="themer.themeBool" class="fa-solid fa-moon"></i> -->
				<i class="fa-regular fa-moon"></i>
			</button>
		</div>
		<options></options>
	</div>

	<!-- <h5>Mises à jour</h5>
	<div></div> -->

</template>
