
@desktop:   ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 959px)";

@media @desktop {
	sidebar {

	}
}
@media @tablet {
	sidebar {
		
	}
}

sidebar {
	// border-right: 1px grey solid;

	width: 250px;
	// height: 100%;
	overflow: auto;
	// overflow-y: scroll;

	// position: fixed;
	// top: 0;
	// bottom: 0;

	// width: 230px;
	// border-right-width: 1px;
	// border-right-color: gray;
	// border-right-style: solid;
}
	

.sidetoggle .collapsed .icon {
    -webkit-transform: rotate(90deg);    
    -moz-transform: rotate(90deg);        
    -o-transform: rotate(90deg);          
    -ms-transform: rotate(90deg);         
    transform: rotate(90deg);
    position: absolute;
}


.sidetoggle .icon {
    -webkit-transform: rotate(180deg);     
    -moz-transform: rotate(180deg);        
    -o-transform: rotate(180deg);          
    -ms-transform: rotate(180deg);   
    transform: rotate(180deg);
    position: absolute;
}
