<import from="./options"></import>

<template class="flex-shrink-0 p-3">
<!-- flex-column -->
<!-- <template class="d-flex flex-column flex-shrink-0 p-3"> -->

	<!-- options -->
	<!-- <options style="margin-left: auto; margin-right: auto;"></options> -->


	<div class="d-flex p-2 flex-wrap">
		<a load="${breeds[i]}" css="${getBreedIconStyle(i)}" repeat.for="i of breeds.length" ></a>
	</div>

	<div if.bind="isRouteClass && db.isLoaded">
		<strong>${breedNameI18n}</strong>
		<br />
		<a load="${breedName}/mechanics" style="color: inherit; text-decoration: inherit;">
			Mécaniques
		</a>
		<br />
		<a load="${breedName}/situations" style="color: inherit; text-decoration: inherit;">
			Situations
		</a>
	</div>
	
	<hr>
	<div>
		<strong>Information</strong>
		<br />
		<a load="general" style="color: inherit; text-decoration: inherit;">
			Général
		</a>
		<br />
		<a load="formules" style="color: inherit; text-decoration: inherit;">
			Formules
		</a>
	</div>
	<div>
		<strong>Communauté pvp</strong>
		<br />
		<a load="tournaments" style="color: inherit; text-decoration: inherit;">
			Tournois
		</a>
		<br />
		<a load="resources" style="color: inherit; text-decoration: inherit;">
			Ressources
		</a>
	</div>

	<div>
		<strong>Dofus</strong>
		<br />
		<a href="https://www.dofus.com/fr/mmorpg/actualites/maj" target="_blank"
			style="color: inherit; text-decoration: inherit;">
			<i class="fas fa-link"></i> Changelogs 
		</a>
		<br />
		<a href="https://www.dofus.com/fr/mmorpg/actualites/devblog" target="_blank"
			style="color: inherit; text-decoration: inherit;">
			<i class="fas fa-link"></i> Devblogs 
		</a>
	</div>

	<div style="position: fixed; bottom: 15px;">
		<!-- <strong>Contact</strong> -->
		<!-- <br />
		<a href="https://souchy.github.io/quickfus/" target="_blank" style="color: inherit; text-decoration: inherit;">
			Quickfus <i class="fas fa-link"></i>
		</a> -->
		<!-- <a href="https://github.com/Souchy/encyclofus" target="_blank"
			style="color: inherit; text-decoration: inherit;">
			<i class="fab fa-github"></i> Github 
		</a> -->
		<br>
		<a href="https://twitter.com/Souchy7" target="_blank"
			style="color: inherit; text-decoration: inherit;">
			<i class="fab fa-twitter"></i> Contact Twitter
		</a>
	</div>

	<!-- <h5>Mises à jour</h5>
	<div></div> -->

</template>
