:root {
	// --bs-table-striped-bg: red !important;
	// --bs-body-color: rgb(218, 218, 218) !important;
}

td {
	// color: rgb(218, 218, 218) !important;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
	// --bs-table-accent-bg: rgba(100, 100, 100, 0.05) !important;
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	// background-color: rgb(31, 31, 31) !important;
	// background-color: var(--bg-color0);
}

.main {
	// margin-top: 56px;
	display: flex;
	width: 100%;
	align-items: stretch;
	height: 100%;

	// color: rgb(218, 218, 218);
}


.page-host {
	//   position: absolute;
	//   left: 150px;
	//   right: 0;
	//   top: 56px;
	//   bottom: 0;
	//   margin-left: 280px;
	overflow-x: hidden;
	overflow-y: auto;
	//   border: 5px solid #FFFF00;

	// height: 100%;
	// padding: 16px;

	// width: 80%;
	// margin-left: auto;
	// margin-right: auto;
	// width: 80%;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	// margin-left: 10%;
	// margin-right: 10%;
	padding-left: 10%;
	padding-right: 10%;
}

// Large desktop
@media (min-width: 1200px) {

	#collapseBtn {
		display: none;
	}

	#collapseSidebar {
		display: none;
	}
}

// landscape tablet
@media

/* (min-width: 981) and */
(max-width: 1199px) {
	.page-host {
		width: 100%;
		padding-left: 7%;
		padding-right: 5%;
	}

	#normalSidebar {
		display: none;
	}

	#collapseBtn {
		z-index: 3;
		display: block;
		position: fixed;
		top: 17px;
		left: 15px;
		color: var(--bs-body-color);
	}

	#collapseSidebar {
		z-index: 2;
		// width: 250px;
		position: fixed;
		height: 100%;
		// background-color: inherit;
		// opacity: 99%;
		padding-top: 50px !important;
		border-right: 1px var(--sidebar-border-color0) solid;
	}
}

// Portrait tablet to landscape and desktop
@media (max-width: 980px) {
	.page-host {
		width: 100%;
		padding-left: 7%;
		padding-right: 1%;
	}
}

// Landscape phone to portrait tablet
@media (max-width: 768px) {
	#collapseSidebar {
		width: 100%;
	}
}

// Landscape phones and down
@media (max-width: 480px) {
	.page-host {
		padding-left: 35px;
		// padding-right: 1%;
	}
}

// remove bootstrap's collapsing animation
// .collapsing {
//     -webkit-transition: none;
//     transition: none;
//     display: none;
// }



.loaderContainer {
	width: 100%;
}

.loader {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 16px solid #f3f3f3;
	/* Light grey */
	border-top: 16px solid #3498db;
	/* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}





// Quickfus
.sheet {
	background: var(--bg1);
	color: var(--front0);
}

.sheettip {
	background: var(--bg1);
	color: var(--front0);
	opacity: 0.7;
}

.surface {
	background: var(--surface);
	color: var(--onsurface);
}
/* button */
/* this button is accent>transparent and turns black>accent on hover */
.btn0 {
	color: var(--accent1);
	background: var(--bg0);
	border: 1px solid transparent;
}

.btn0:hover {
	color: var(--front1);
	background: var(--accent1);
	border-color: var(--accent1);
}

/* this button is white>gray with an accent border */
.btn1 {
	color: var(--front0);
	background: var(--bg1);
	border: 1px solid var(--accent1);
}

.btnDelete {
	color: var(--accent1);
	background: var(--bg0);
	border: 1px solid transparent;
	width: 38px;
	height: 30px;
}

.btnDelete:hover {
	color: var(--front1);
	background: var(--accent1);
	border-color: var(--accent1);
}

.btnSearch {
	color: var(--front0);
	background: var(--bg1);
	border: 1px solid var(--accent1);
	width: 30%;
	height: 40px;
	margin: 0 auto;
}

.btnAdd {
	color: var(--front0);
	background: var(--bg1);
	border: 1px solid var(--accent1);
	margin: 0 auto;
	width: 80%;
	height: 40px;
}

/* Text input */
input[type=text] {
	background: var(--bg1);
	color: var(--front0);
	border: 1px solid var(--accent1);
}

/* Number input */
input[type=number] {
	width: 70px;
	background: var(--bg1);
	text-align: center;
	color: var(--front0);
	border: 1px solid var(--accent1);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

// Bootstrap remake
.mr-1 {
	margin-right: 0.25rem !important;
}
.mr-2 {
	margin-right: 0.5rem !important;
}
.mr-auto {
	margin-right: auto !important;
}
