:root {
	// --bs-table-striped-bg: red !important;
	// --bs-body-color: rgb(218, 218, 218) !important;
}

td {
	// color: rgb(218, 218, 218) !important;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
	// --bs-table-accent-bg: rgba(100, 100, 100, 0.05) !important;
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

.main {
	// margin-top: 56px;
	display: flex;
	width: 100%;
	align-items: stretch;
	height: 100%;
	
	// color: rgb(218, 218, 218);
	// background-color: rgb(31, 31, 31);
	background-color: rgb(240, 240, 240);
}
.form-select {
	background-color: rgb(250, 250, 250) !important;
}

sidebar {
	width: 225px;
	// height: 100%;
	overflow: auto;
	// overflow-y: scroll;

	// position: fixed;
	// top: 0;
	// bottom: 0;

	// width: 230px;
	// border-right-width: 1px;
	// border-right-color: gray;
	// border-right-style: solid;
}

.page-host {
	//   position: absolute;
	//   left: 150px;
	//   right: 0;
	//   top: 56px;
	//   bottom: 0;
	//   margin-left: 280px;
	overflow-x: hidden;
	overflow-y: auto;
	//   border: 5px solid #FFFF00;

	// height: 100%;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	padding: 16px;
}
